{{<layout}}

{{$pageTitle}}Find a Property - Account Created{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This service is in private beta. Please give us your <a rel="external" href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Feedback</a>.</span>
        </p>
      </div>

    <h1 class="form-title heading-large">
      Account created successfully
    </h1>
    <p class="text heading-medium">An email has been sent to <b>xxx@xxx.com</b> with confirmation of your account creation</p>
    <p class="text font-small">To use Find a Property, please sign in with the information you provided during account creation</p>


    <div class="form-group">
      <a class="button" href="login">Sign In</a>
    </div>



</main>

{{/content}}

{{/layout}}
