{{<layout}}

{{$pageTitle}}Find a Property - Property Search{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This service is in private beta. Please give us your <a rel="external" href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Feedback</a>.</span>
        </p>
    </div>
    <div class="grid-row">

    <div class="column-two-thirds">
               <h1 class="heading-large">Search the land and property register</h1>
               <p class="lede">
                 <label for="search_term">You can get information about registered property or land in England and Wales, even if you don’t own it.</label></p>

             <p class="form-hint">For example a postcode, street name or title number</p>
             <input type="text" class="form-control" name="search_term" id="search_term" required autofocus="autofocus">

           <br/><br/>
           <div class="form-group">
             <a class="button" href="search_results">Search</a>
           </div>

           <p><a href="https://www.gov.uk/get-information-about-property-and-land" target="_blank">Use a different service</a> if you need detailed information like the deeds, title plan or to prove ownership in court or for a visa application.</p>
</div>
</div>
</main>

{{/content}}

{{/layout}}
