{{<layout}}

{{$pageTitle}}Find a Property - Sign In{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This service is in private beta. Please give us your <a rel="external" href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Feedback</a>.</span>
        </p>
      </div>
      <!-- breadcrumb & sign out row -->
      <div class="grid-row">
          <div class="column-two-thirds">
            <div id="global-breadcrumb">
              <nav role="navigation">
                <ol>
                  <li><a href="#" onClick="history.go(-1); return false;">Digital Register Login</a></li>
                  <li><strong>Terms &amp; Conditions</strong></li>
                </ol>
              </nav>
            </div>
          </div>
        <div class="column-quarter column-flip">
          <div class="account">
              &nbsp;
          </div>
        </div>
      </div>
      <!-- -->
    <h1 class="form-title heading-large">
      Terms &amp; Conditions
    </h1>
    <p>In order to obtain services through Land Registry's 'Find a Property' you will need to register for the services with Land Registry.<br/>

On successful registration you will be supplied with a:<br/><br/>

Username and Password, and a
Property Search User Account.
This will enable you to use these services without having to register again.<br/><br/>

Your access to and use of the services will be subject to the following terms and conditions. Please read and accept the terms and conditions.
<br/><br/>
Definitions
<br/>
1.1 The following terms shall have the following meanings:
<br/>
'Act' - the Land Registration Act 2002 as amended from time to time.
<br/>
'Data' - the data and information used in connection with the Services and held as part of the Database (including data added to the Database by using the Services).
<br/>
'Database' - the Registrar's database on which is stored the Data together with other data which you are not entitled to access.
<br/>
'Fees and Charges' - means the fees due under the current Fee Order and charges (including Value Added Tax) due under section 105 of the Act.
<br/>
'Find a Property' - the Land Registry's site for the purpose of providing information and Services.
<br/>
'Property Search User Account' - the account we will set up for you on successful registration.
<br/>
'Registrar' - the Chief Land Registrar of Her Majesty's Land Registry or any other member of Land Registry who is authorised for the purpose by him.
<br/>
'Rules' - any subordinate legislation made under the Act.
<br/>
'Services' - the Services available through the System.
<br/>
'System' - the Registrar's computer system and website which is a gateway to the Services.
<br/>
'Terms and Conditions' - the terms and conditions set out here and known as the Find a Property Terms and Conditions.
<br/>
'Username and Password' - the security credentials that will need to be entered to allow access to the Services once a Property User Account has been created.
<br/><br/>
Introduction
<br/>
2. Land Registry has established this System and website principally for the purpose of providing information and Services for the personal use of the private citizen.
<br/><br/>
Services
<br/>
3.1 We will provide you with the Services. In return you agree to comply with the conditions imposed on your use of the Services set out in these Terms and Conditions and elsewhere in this site.
<br/>
3.2 Access to the System shall be via the Internet or such other electronic means of access or communication as we may reasonably require from time to time.
<br/><br/>
3.3 User registration
<br/>
3.3.1 On registration you will be asked to provide a Username and Password and the System will notify you when a Property Search User Account has been created. You will need to activate this account before purchasing any of the Services.
<br/>
3.3.2 If you wish to change any of your registration details you will need to request cancellation of your existing Property Search Account by contacting us with your user name details (see "Customer support") then re-register for the Services. A new user name and password will be supplied and a new Property Search User Account will be created which you will need to activate. Until such request is made your existing Property Search User Account will not be cancelled.
<br/>
3.4 Fees and RBS Worldpay Privacy Policy.
<br/>
3.4.1 You shall pay all Fees and Charges for the Services used by you. All Services must be paid for in advance and by credit/debit card. When you pay for the Services it will be via RBS Worldpay or Land Registry's successor specialist electronic payment processor. You will receive a Transaction ID from the payment processor confirming your purchase.
<br/>
3.4.2 Your attention is drawn to the privacy policyLink opens in new window of RBS Worldpay or successor specialist electronic payment processor for the service as Land Registry is not directly responsible for the information practices of the processor or third party service providers.
<br/>
3.5 The Services will normally be available every day. On a day when the service is available it will normally be available for an aggregate period of at least 20 hours unless the system otherwise informs you.
<br/>
3.6 We may monitor your use of the Services to verify that you are not accessing and using the Data and information for the purposes described and prohibited by clause 4.1 below.
<br/>
3.7 The Property Search User Account will automatically be cancelled without giving you prior notice on or after six months after the account was last used.
<br/>
3.8 In the event that the Property Search User Account is cancelled you will:
<br/>
3.8.1 need to re-register for the Services and
<br/>
3.8.2 not be able to use the same Username or a previous Username used by you.
<br/><br/>
Your Obligations
<br/>
4.1 You shall not:
<br/>
4.1.1 use the System in any way that causes the System or access to it be interrupted, damaged or impaired.
<br/>
4.1.2 use or attempt to use any automated software agents (including without limitation, any screen scraper, spider or other web crawler) to access the System or to search, copy or monitor, display or obtain links to any part of the System.
<br/>
4.1.3 use the System to copy or display the Data and information for display on any other website.
<br/>
4.1.4 attempt to rectify or permit any person (not authorised by us) to rectify any fault or inaccuracy in the information, Data, System or Database or tamper with the information, Data, System, Services or Database.
<br/>
4.1.5 allow any unauthorised person to have access to the System and/or use the Services via your equipment.
<br/>
4.1.6 allow simultaneous access to the System using the same log in or Username and/or Password and/or transfer or share your Username or Password.
<br/>
4.1.7 tamper with or make or attempt to make any deletions, additions, notifications, adjustments or alterations to any of the Data, information, the System or the Database.
<br/>
4.1.8 access or retrieve any part of the Database, which is not part of the information and Data supplied under these Services.
<br/>
4.1.9 use the Data and information to represent to the public that you have an arrangement or official partnership with Land Registry in relation to either the use of the Data and/or information or the supply of it.
<br/>
4.1.10 use the System for any fraudulent or other unlawful activity. We reserve the right to cancel your Property Search User Account at any time without notice if we have reason to suspect use for such purposes.
<br/>
4.2 The Data and information you can access is our intellectual property and as such is protected by Crown Copyright and other intellectual laws. All ownership rights remain with us. You must not infringe the Crown's copyright. Your use of the Data and information retrieved from Find a Property will be in accordance with these Terms and Conditions and the requirements set out elsewhere in this site. You must obtain our written consent before reproducing and or distributing any reproduction of any Land Registry documentation. If you are unsure whether your proposed use of the Data or information infringes these property rights please email us on copyright@landregistry.gov.uk.Link opens in new window
<br/><br/>
General
<br/>
5.1 Neither we nor any third party shall be liable to you or any third party for any loss or damage, direct, indirect or consequential, arising from
<br/>
5.1.1 any inaccuracy or incompleteness in, or delays, interruptions, errors or omissions in the delivery of the Data or any other information supplied to you through this site or
<br/>
5.1.2 any decision made or action taken by you or any third party in reliance upon the Data and information. Neither we nor any third party shall be liable for loss of business resources, lost profits or any punitive, indirect, consequential, special or similar damages whatsoever, whether in contract or tort or otherwise, even if advised of the possibility of such damages incurred by you or any third party or
<br/>
5.1.3 the delay in or loss of use of our Services.
<br/>
5.2 We are not responsible for any damage to your computer, software, modem, telephone or other property resulting from your use of our Services.
<br/>
5.3 Transmission of Data and information over the internet may be subject to arbitrary delays beyond our control, which may delay the provision of our Services or the execution of your orders. As the System is internet based there may be periods of delay or shutdowns in the Services beyond our control. You acknowledge that neither any information service provider, third party nor we shall be liable to you or any third party for any losses arising from such delay.
<br/>
5.4 We may at any time require you to disconnect your equipment or software or any part or parts from accessing the System if in our reasonable opinion it is or has been the cause or contributory factor or likely to cause failures, interruptions, errors or defects in the System or to corrupt the System or software or any other software which may be used by or in the System or any information on the Database.
<br/>
5.5 Some of the related services are outside of our control because they are provided by a third party. In these cases we do not take responsibility for these services, their content, or for any delays, interruptions or errors in their provision. We are not responsible for the content or reliability of any linked web sites. Nor do we necessarily endorse the views expressed in them. We cannot guarantee that these links will work all of the time and we have no control over the availability of the linked pages.
<br/>
5.6 We may collect information about you
<br/>
5.6.1 to allow us to check your financial standing
<br/>
5.6.2 to enable us to ensure that you use the System in an appropriate manner
<br/>
5.6.3 for reporting and statistical purposes and
<br/>
5.6.4 for any other appropriate purpose or use including sharing information with other government departments and agencies or enforcement agencies.
<br/><br/>
For further details please see our Privacy StatementLink opens in new window. In the event of any conflict between the terms of 5.6 above and our Privacy Statement, the terms set out in 5.6 will prevail.
<br/>
You should note that we are under a duty to comply with the Freedom of Information Act 2000 and the Environmental Information Regulations 2004. You should note that we may disclose information in order to comply with any legislation including the Freedom of Information Act 2000 and Environmental Information Regulations 2004 or order of court without obtaining your consent so that we can comply with any applicable information disclosure requirements.
<br/>
You can also get more details on how to find out what information we hold about you and how to ask us to correct any mistakes. For further information please contact our Data Protection Officer or visit the data protection pageLink opens in new window on the website.
<br/><br/>
5.7 We reserve the right to make changes to our website, policies, and these Terms and Conditions at any time. You will be subject to the latest policies and Terms and Conditions (legislation permitting) at the time that you use the site or that you order data products from us.
<br/>
5.8 Land Registry reserves the right without notice to prevent you from accessing the System or to refuse or terminate registration to the System or any part of the System including cancelling your Property Search User Account should you breach these Terms and Conditions or if we have reason to believe that you are in breach of them. In the event that you have been prevented or refused access to the System or if your registration has been terminated you must not use the System under any alias or through any other registered user.
<br/><br/>
Jurisdiction
<br/>
6. The law of England and Wales will apply to these Terms and Conditions.
</p>

</main>

{{/content}}

{{/layout}}
