{{<layout}}

{{$pageTitle}}Find a Property - Property Summary{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <!-- private beta banner -->
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This service is in private beta. Please give us your <a rel="external" href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Feedback</a>.</span>
    </p>
  </div>

  <!-- breadcrumb & sign out row . Hide for Print View -->
  <div class="grid-row printhidden">
    <div class="column-two-thirds">
      <div id="global-breadcrumb">
        <nav role="navigation">
          <ol>
            <li><a href="search">Search the land and property register</a></li>
            <li>Beta</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="column-quarter column-flip">
      <div class="account">
        <a href="start" class="font-xsmall">Sign out</a>
      </div>
    </div>
  </div>
  <!-- end Breadcrumbs-->

    <div class="grid-row">
      <div class="column-two-thirds">
        <!-- 1. Start Title information (number, address and tenure information) -->
        <h1 class="heading-large collapse-top">Using the Beta</h1>
          
        <h2 class="heading-medium">What you'll get</h2>
            <p>The summary can tell you</p>
            <ul class="list-bullet">
              <li>owner's name and address</li>
              <li>what they paid for the property – you won’t get this if it was bought before April 2000, if no money changed hands, or if the owner didn’t buy it outright</li>
              <li>if there is a mortgage on the property, the lender's name and  address</li>
              <li>if it's a leasehold property, how long the lease is for</li>
              <li>the rough extent and location of the property</li>
            </ul>
            <div class="panel-indent panel-indent-info">
              <p>You'll be able to view the information on screen. <b>You'll only be able to view it once.</b> If you want to keep a copy, you'll need to print it out or take a screen shot.</p>
            </div>
            <hr>

          <a href="sign-in" class="button button-start" role="button">Try the Beta</a>
          <p>or <a href="#">use the standard Land Registry service</a></p>

          <h2 class="heading-medium">You won't get</h2>
            <p>You'll need to <a target="_blank" href="https://www.gov.uk/get-information-about-property-and-land">use a different Land Registry service</a> if you need more detailed information like</p>
            <ul>
              <li>the full legal register entry</li>
              <li>details of access rights, rights of way, and restrictions</li>
              <li>to prove who owns a property, for example in a court case or for a visa application</li>
              <li>the official title plan showing indicative boundaries</li>
              <li>a copy of the deeds</li>
              <li>details of previous owners</li>
            </ul>

          <hr>

          <h2 class="heading-medium">You will need</h2><ul>
            <li> a credit or debit card</li>
            <li> a printer, if you want to print the summary to refer to later</li>
          </ul>

    </div>
  </div>

      <div class="column-third">&nbsp;</div>

  <script src="/public/javascripts/map.js"></script>
  <link rel="stylesheet" href="/public/vendor/leaflet-0.7.3/leaflet.css" />
  <script src="/public/vendor/leaflet-0.7.3/leaflet.js"></script><!-- Leaflet -->
  <script src="/public/javascripts/proj4.js"></script><!-- proj4js -->
  <script src="/public/javascripts/proj4leaflet.js"></script><!-- proj4leaflet -->


</main>

{{/content}}

{{$footerSupportLinks}}
<ul>
  <li><a href="summary_welsh">Ar gael yn y Gymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
  <li>If you need help using the service you can call Land Registry on 0300 006 0411.</li>
</ul>
{{/footerSupportLinks}}

{{/layout}}
