{{<layout}}

  {{$pageTitle}}Find a Property{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">
      <!-- private beta banner -->
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This service is in private beta. Please give us your <a rel="external" href="/drv-16/feedback">Feedback</a>.</span>
        </p>
      </div>
      <!-- -->

      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-large">What documents do you need?</h1>
          <form method="get" action="" id="eligibility-form" onsubmit="return checkEligibility()">

            <fieldset class="form-group" id="eligibility_group">
              <label class="block-label" for="eligibility-1">
                <input id="eligibility-1" type="checkbox" name="eligibility" value="eligible">
                Title summary - £2 <span class="font-xsmall">(inc VAT)</span><br>
                <p class="font-xsmall collapse-bottom">Brief facts from the register</p>
              </label>

              <div class="clear" style="margin-bottom: 5px">
                <details class="font-xsmall">
                  <summary>What is in the summary view?</summary>

                  <p>The <strong>summary view</strong> contains reduced information of the full register. It consists of the following information only:</p>
                  <ul class="list-bullet">
                    <li>address and title number</li>
                    <li>owner name and address details</li>
                    <li>any lender name and address details</li>
                    <li>tenure and price paid details</li>
                  </ul>
                </details>
              </div>

              <label class="block-label" for="eligibility-2">
                <input id="eligibility-2" type="checkbox" name="eligibility" value="ineligible">
                Full title documents - £3 each<br>
                <p class="font-xsmall collapse-bottom">The title register and title plan</p>
              </label>

              <div class="clear" style="margin-bottom: 5px">
                <details class="font-xsmall">
                  <summary>What are title documents?</summary>
                  <p>Title documents are available in PDF format to download and keep.</p>
                  <p>The <b>title register</b> has details about the property or land, including:</p>
                  <ul class="list-bullet">
                    <li>title number</li>
                    <li>who owns it</li>
                    <li>what they paid for it (properties only, if available)</li>
                    <li>any rights of way</li>
                    <li>whether a mortgage on it has been ‘discharged’, eg paid off</li>
                  </ul>
                  <p>The <b>title plan</b> is a map showing:</p>
                  <ul class="list-bullet">
                    <li>the property’s location</li>
                    <li>the general boundaries</li>
                  </ul>
                </details>
              </div>

              <label class="block-label" for="eligibility-3">
                <input id="eligibility-3" type="checkbox" name="eligibility" value="ineligible">
                Flood risk indicator - £10.80 <span class="font-xsmall">(inc VAT)</span>
              </label>

              <label class="block-label" for="eligibility-4">
                <input id="eligibility-4" type="checkbox" name="eligibility" value="dont_know">
                Not sure<br> <p class="font-xsmall collapse-bottom">We'll ask you a few questions to help you decide.</p>
              </label>

            </fieldset>

            <div class="form-group">
              <input type="submit" class="button button-start" value="Continue">
            </div>

          </form>

          <script>
            var msg = document.createElement('span');
            msg.classList.add('error-message');
            msg.textContent = 'Please choose an option';

            var eligibiltyGroup = document.getElementById('eligibility_group');

            function checkEligibility() {
              var questions = document.querySelectorAll('input[name="eligibility"]');
              var inEligibleQuestions = document.querySelectorAll('input[name="eligibility"][value="ineligible"]');
              var eligible = true;
              var empty = true;

              if(msg.parentNode) {
                msg.parentNode.removeChild(msg);
                eligibiltyGroup.classList.remove('error');
              }

              [].forEach.call(questions, function(item, index) {
                if(item.checked) {
                  empty = false;
                }
              });

              [].forEach.call(inEligibleQuestions, function(item, index) {
                if(item.checked) {
                  eligible = false;
                }
              });

              if(empty) {
                eligibiltyGroup.classList.add('error');
                eligibiltyGroup.appendChild(msg);

                return false;
              }

              if(eligible) {
                var dont_know = document.getElementById('eligibility-4');
                if(dont_know.checked) {
                  window.location = 'eligibility_2b';
                } else {
                  window.location = 'search';
                }

              } else {
                window.location = 'ineligible_info';
              }

              return false;
            }
          </script>


        </div>
      </div>
    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="/drv-16/terms">Terms &amp; Conditions</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      <li>If you need help using the service you can call Land Registry on 0300 006 0411 (England) or 0300 006 0422 (Wales).</li>
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
