{{<layout}}

  {{$pageTitle}}Find a Property{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">

      <h1 class="heading-large">Register with Find a Property</h1>

      <div class="grid-row">

        <div class="column-two-thirds">
          <p class="font-medium">You'll need to register on the existing <a rel="external" href="https://eservices.landregistry.gov.uk/www/wps/portal/!ut/p/b1/04_Sj7QwMrM0MbUwM9OP0I_KSyzLTE8syczPS8wB8aPM4o2NLEwMDU2MPCyMzcwNPE3d3I0NQ0yNDUyM9YNT8_RzoxwVAVgHdlo!/">Land Registry website</a></p>
          <a rel="external" href="https://eservices.landregistry.gov.uk/www/wps/portal/!ut/p/b1/04_Sj7QwMrM0MbUwM9OP0I_KSyzLTE8syczPS8wB8aPM4o2NLEwMDU2MPCyMzcwNPE3d3I0NQ0yNDUyM9YNT8_RzoxwVAVgHdlo!/">Find a Property</a>
        </div>

      </div>

    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="/drv-16/terms">Terms &amp; Conditions</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      <li>If you need help using the service you can call Land Registry on 0300 006 0411 (England) or 0300 006 0422 (Wales).</li>
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
