{{<layout}}

  {{$pageTitle}}Find a Property{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">

      <br>
      <a href="#" onClick="history.go(-1); return false;">◀ Back</a>

      <div class="grid-row">

        <div class="column-two-thirds">
          <h1 class="heading-large">The information you need isn’t available here yet</h1>

          <p><a rel="external" href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">Use the existing Land Registry service</a> to get full title documents or an indication of whether a property is at risk of flooding. </p>

          <p>The <a href="https://www.gov.uk/get-information-about-property-and-land/search-the-register">guide to getting information about property and land</a> will help you work out which documents you need</a>.</p>


          <p>You can only get a summary of the property register from this trial service. The summary just contains:</p>

          <ul class="list-bullet">
            <li>property address and title number</li>
            <li>current owner’s name and address</li>
            <li>what they paid for the property</li>
            <li>whether the property is freehold or leasehold (known as ‘tenure’)</li>
            <li>the length of the lease if it’s leasehold</li>
            <li>if there is a mortgage on the property, the lender’s name and address</li>
          </ul>

          <p>You’ll also be able to get full title documents and flood risk information here in future.</p>

          <a href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search" class="button button-start">Continue on Find a Property</a>
          <br>or <a href="search">get a title summary from this new service</a></p>
        </div>

      </div>

    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="/drv-16/terms">Terms &amp; Conditions</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      <li>If you need help using the service you can call Land Registry on 0300 006 0411 (England) or 0300 006 0422 (Wales).</li>
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
