{{<layout}}

  {{$pageTitle}}Find a Property{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">

      <div class="grid-row">

        <div class="column-two-thirds">
          <h1 class="heading-large">You need to order an ‘official copy’ of the register</h1>

          <p>You can’t use copies of the register from this service as proof of ownership.</p>
          <p> To get copies to use as proof of ownership, eg in a court case or for a visa application, you need to order official copies.</p>
          <p>Download and fill in an <a href="/government/publications/offcial-copies-of-register-or-plan-registration-oc1">application for official copies of documents</a> and send it to Land Registry with your fee.</p>

          <div class="address"><div class="adr org fn"><p>

          Citizen Centre
          <br>PO Box 6350
          <br>Coventry
          <br>CV3 9LP
          <br>
          </p></div></div>

          <p>Your official copies will arrive in less than a week.</p>

          <h2 class="heading-medium">Fees</h2>

          <table>
            <thead>
              <tr>
                <th>Document</th>
                <th>Fee</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Title register (official copy)</td>
                <td>£7</td>
              </tr>
              <tr>
                <td>Title plan (official copy)</td>
                <td>£7</td>
              </tr>
            </tbody>
          </table>
          <p><br>Use the <a href="https://www.gov.uk/get-information-about-property-and-land/search-the-register">guide to getting information about property and land</a> to find out which documents you need</a>.</p>

        </div>



      </div>

    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="/drv-16/terms">Terms &amp; Conditions</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      <li>If you need help using the service you can call Land Registry on 0300 006 0411 (England) or 0300 006 0422 (Wales).</li>
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
