{{<layout}}

  {{$pageTitle}}Find a Property{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">

      <h1 class="heading-large">Register with Find a Property</h1>

      <div class="grid-row">

        <div class="column-two-thirds">
          <p class="font-medium">The beta can only provide a summary showing:</p>

          <ul class="list-bullet font-medium">
            <li>owner's name and address</li>
            <li>what they paid for the property – you won’t get this if it was bought before April 2000, if no money changed hands, or if the owner didn’t buy it outright</li>
            <li>if there is a mortgage on the property, the lender's name and  address</li>
            <li>if it's a leasehold property, how long the lease is for</li>
            <li>the rough extent and location of the property</li>
          </ul>

          <p class="font-medium">If you need other information or documents you'll need to use the existing <a rel="external" href="https://eservices.landregistry.gov.uk/www/wps/portal/!ut/p/b1/04_Sj7QwMrM0MbUwM9OP0I_KSyzLTE8syczPS8wB8aPM4o2NLEwMDU2MPCyMzcwNPE3d3I0NQ0yNDUyM9YNT8_RzoxwVAVgHdlo!/">Land Registry service</a></p>
        </div>

      </div>

    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="summary_welsh">Ar gael yn y Gymraeg</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      <li>If you need help using the service you can call Land Registry on 0300 006 0411.</li>
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
