{{<layout}}

  {{$pageTitle}}Find a Property{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">


      <div class="grid-row">

        <div class="column-two-thirds">
          <h1 class="heading-large">You need a Land Registry account to use this service</h1>
          <p>You can <a rel="external" href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">use the existing Land Registry service</a> instead. You can create a Land Registry account once you've found the property you need.</p>

          <p>If you think you may already have a Land Registry account, you can use the existing service to <a href="https://eservices.landregistry.gov.uk/wps/portal/RequestUsernameReminder" rel="external" target="_blank">get an email with your username</a> or <a href="https://eservices.landregistry.gov.uk/wps/portal/ResetLoginDetails" rel="external" target="_blank">reset your password</a>.</p>

          <p>Once you've got a Land Registry username and password, you can use it for this service as well.</p>
        </div>

      </div>

    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="/drv-16/terms">Terms &amp; Conditions</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      <li>If you need help using the service you can call Land Registry on 0300 006 0411 (England) or 0300 006 0422 (Wales).</li>
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
