{{<layout}}

{{$pageTitle}}Find a Property - Property Search{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This service is in private beta. Please give us your <a rel="external" href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Feedback</a>.</span>
        </p>
    </div>
    <div class="grid-row">

    <div class="column-two-thirds">
           <h1 class="heading-xlarge">Search the land and<br> property register</h1>
           <p class="lede">You can get information about registered property or land in England and Wales, even if you don’t own it.</p>

           <label for="search_term" class="form-label-bold">Postcode</label>
           <input type="text" class="form-control" name="search_term" id="search_term" required autofocus="autofocus">

           <br/><br/>

           <div class="form-group">
             <a class="button" href="search/1">Search</a>
           </div>

</div>
</div>
</main>

{{/content}}

{{$footerSupportLinks}}
<ul>
  <li><a href="summary_welsh">Ar gael yn y Gymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
  <li>If you need help using the service you can call Land Registry on 0300 006 0411.</li>
</ul>
{{/footerSupportLinks}}

{{/layout}}
