{{<layout}}

  {{$pageTitle}}Find a Property - Property Summary{{/pageTitle}}

  {{$content}}

    <style>
      #map{
        height:320px !important;
        width:320px !important;
      }
    </style>

    <link href="/public/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />

    <main id="content" role="main">
      <!-- private beta banner -->
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This service is in private beta. Please give us your <a rel="external" href="/drv-16/feedback">Feedback</a>.</span>
        </p>
      </div>
      <!-- -->
      <!-- breadcrumb & sign out row -->
      <div class="grid-row printhidden">
        <div class="column-two-thirds">
          <div id="global-breadcrumb">
            <nav role="navigation">
              <ol>
                <li><a href="search">Search the land and property register</a></li>
                <li><a href="" onClick="history.go(-1); return false;">Search results</a></li>
                <li><strong>Viewing AZ679451</strong></li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="column-quarter column-flip">
          <div class="account">
            <a href="start" class="font-xsmall">Sign out</a>
          </div>
        </div>
      </div>
      <!-- -->

      <div class="column-two-thirds">
        <h1 class="heading-large collapse-top">Crynodeb o deitl AZ679451</h1>
        <p class="font-xsmall">Newidiwyd y teitl hwn ddiwethaf ar <b>20 October 2015</b> am <b>11:59:18</b></p>

        <hr>

        <dl class="definition-tabular expand-top-half">
          <dt>Address</dt>
          <dd><span class="heading-medium">3a Mandela Way<br>Southampton<br>SO15 5RZ</span></dd>
          <dt>Perchennog</dt>
          <dd><span class="heading-small">Fred Smith</span><br>3a Mandela Way<br>Southampton<br>SO15 5RZ</dd>
          <dt>Benthyciwr</dt>
          <dd><span class="heading-small">Abbey National PLC</span><br>101 Midsummer Boulevard<br>Milton Keynes<br>MK9 1AA</dd>
          <dt>Math o ddaliadaeth</dt>
          <dd><span class="heading-small">Leasehold</span></dd>
          <dt>Cyfnod y brydles</dt>
          <dd><span class="heading-small">99 years</span><br>from 3 October 2012</dd>
          <dt>Pris a dalwyd</dt>
          <dd><span class="heading-small">£188,000</span><br>the price stated to have been paid on 3 October 2012</dd>
        </dl>

        <div class="govuk-box-highlight printhidden">
          <p>
            <b>Byddwch ond yn gallu gweld y wybodaeth hon unwaith</b><br>
            s ydych chi am gadw copi , bydd angen i chi ei hargraffu neu gymryd ergyd sgrin.
          </p>

          <a class="button-print" href="javascript:window.print();">Argraffu'r dudalen</a>
        </div>

        <hr>

        <div class="panel-indent">
          <p>Os oes gennych unrhyw broblemau gyda'ch pryniant , gallwch ffonio Gofrestrfa Tir ar <b>0300 006 0411</b>.</p>
          <p>I gael mwy o ddulliau cyswllt, ewch i <a href="https://www.gov.uk/government/organisations/land-registry">www.gov.uk/government/organisations/land-registry</a></p>
        </div>

        <div class="text printhidden">
          <h6 class="heading-medium">Beth nesaf</h6>
          <ul>
            <li><a href="search">Chwilio am deitl arall gan ddefnyddio’r gwasanaeth hwn</a></li>
            <li><a href="https://gov.uk">Yn ôl i GOV.UK</a></li>
          </ul>
        </div>
      </div>


      <div class="column-third">
        <div id="map">
          <div class="panel-simple">
            <p>Mae'r map yn dibynnu ar JavaScript yn cael ei alluogi yn eich porwr .</p>
          </div>
        </div>
        <p class="font-xsmall">Mae'r map hwn yn dangos maint yr eiddo garw a lleoliad , <b>nid yw ffiniau cyfreithiol.</b></p>
      </div>

      <script type='text/javascript'>
        var indexData = {"crs": {"properties": {"name": "urn:ogc:def:crs:EPSG::27700"}, "type": "name"}, "geometry": {"coordinates": [[[441187.5, 112344.0], [441186.0, 112354.0], [441193.0, 112356.5], [441194.5, 112346.5]]], "type": "Polygon"}, "properties": {"colour": 25, "feature_id": 4019, "graphic_type": "Bordered Polygon", "render_attributes": {"border_colour": 25, "border_width": 0, "exterior_edge_colour": 1, "exterior_edge_thickness": 2, "exterior_edge_thickness_units": "Pixels", "fill_colour": 25, "fill_style": 9, "render_level": "0"}, "width": 0}, "type": "Feature"}
      </script>

      <script src="/public/javascripts/map.js"></script>
      <link rel="stylesheet" href="/public/vendor/leaflet-0.7.3/leaflet.css" />
      <script src="/public/vendor/leaflet-0.7.3/leaflet.js"></script><!-- Leaflet -->
      <script src="/public/javascripts/proj4.js"></script><!-- proj4js -->
      <script src="/public/javascripts/proj4leaflet.js"></script><!-- proj4leaflet -->

    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="summary">Available in English</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      <li>If you need help using the service you can call Land Registry on 0300 006 0411 (England) or 0300 006 0422 (Wales).</li>
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
