{{<layout}}

{{$pageTitle}}Find a Property - Sign In{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This service is in private beta. Please give us your <a rel="external" href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Feedback</a>.</span>
    </p>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Terms and Conditions</h1>
      <p>Terms and conditions go here</p>
    </div>
  </div>


</main>

{{/content}}

{{/layout}}
