{{<layout}}

  {{$pageTitle}}Find a Property - Sign In{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This service is in private beta. Please give us your <a rel="external" href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Feedback</a>.</span>
        </p>
      </div>
      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-large">Terms and Conditions</h1>
          <p>Terms and conditions go here</p>

          <hr>
          <h2 class="heading-medium">Help</h2>
          <p>Use <a rel="external" href="#">the contact form</a> if you need help using the service or you can call Land Registry on 0300 006 0411.</p>
        </div>
      </div>
    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="summary_welsh">Ar gael yn y Gymraeg</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      <li>If you need help using the service you can call Land Registry on 0300 006 0411.</li>
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
