// Import GOV.UK frontend toolkit
@import "colours";
@import "measurements";
.document-link {
    display: block;
    padding: 30px;
    img {
        margin-bottom: $gutter-half;
        width: 100px;
        box-shadow: 0 1px 3px $grey-2;
        float: left;
        margin-right: 30px;
    }
    span.title {
        font-size: 27px;
    }
    .accessibility-warning {
        font-size: 14px;
    }
    .separator {
        display: inline;
        color: #6f777b;
        font-size: 16px;
        font-weight: normal;
    }
}