.phase-banner,
.global-breadcrumb,
.account,
.leaflet-control-zoom,
.printhidden,
.legal-division--top {
  display: none; }

.heading-xlarge {
  font-size: 2.5em; }

.heading-large {
  font-size: 2em;
  margin-bottom: 0.5em; }

#map {
  height: 210px; }

dl.definition-tabular {
  display: block;
  width: 100%;
  overflow: auto; }

.definition-tabular dt {
  float: left;
  width: 15%;
  padding-bottom: 8pt; }

.definition-tabular dd {
  float: left;
  width: 85%;
  clear: right;
  margin: 0;
  padding-bottom: 8pt; }

.definition-tabular .heading-small {
  margin-bottom: 0;
  margin-top: 0; }
