{{<layout}}

  {{$pageTitle}}Find a Property{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">

      <br>
      <a href="#" onClick="history.go(-1); return false;" class="back-link">◀ Back</a>

      <div class="grid-row">

        <div class="column-two-thirds">
          <h1 class="heading-large">You need a Land Registry account to try the new service</h1>
          <p>If you don’t have one, you’ll need to <a rel="external" href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search">use the existing Land Registry ‘Find a Property’ service</a>. If you haven't used your Land Registry account in the last year you’ll need to register again.</p>

          <p>Once you've got a Land Registry username and password you can use it for this service as well.</p>

          <a href="https://eservices.landregistry.gov.uk/wps/portal/Property_Search" class="button">Continue to ‘Find a Property’</a>

        </div>

      </div>

    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="/drv-15/terms">Terms &amp; Conditions</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      <li>If you need help using the service you can call Land Registry on 0300 006 0411. If you need to speak to someone in Welsh call 0300 006 0422.</li>
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
