{{<layout}}

{{$pageTitle}}Search for property information from Land Registry - GOV.UK{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <!-- private beta banner -->
  <div class="phase-banner">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This service is in private beta. Please give us your <a rel="external" href="mailto:digital-register-feedback@digital.landregistry.gov.uk">Feedback</a>.</span>
    </p>
  </div>


<div class="column-two-thirds">
  <h1 class="heading-xlarge">
    Search for property information from Land Registry
  </h1>

  <p>Find information about a property in England or Wales, even if you don’t own it. Search by address to find the owner, how far its general boundaries extend and whether it’s at risk of flooding.</p>

  <p class="panel-indent">You will need to order an <a href="#">official copy of the register</a> if you need to prove property ownership, eg for a court case.</p>

  <p><a href="index" rel="external" data-transaction-slug="search-property-information-land-registry" class="button" role="button">Start now</a></p>

  <h2 class="heading-medium">Before you start</h2>
  <p>Read <a href="#">guidance on getting information about property and land</a>, including alternative sources of information.</p>

  <p>You'll need the following to use the service:</p>
  <ul>
    <li> a user account</li>
    <li> a credit or debit card</li>
    <li> a printer, if you want to print the summary to refer to later</li>
  </ul>
  <p class="panel-indent">You’ll need to search different registers if the property is in <a rel="external" href="#">Scotland</a> or <a rel="external" href="#">Northern Ireland.</a></p>

  <div class="text">
    <h2 class="heading-medium">What you'll get</h2>
    <p>The summary can tell you</p>
    <ul class="list-bullet">
      <li>owner's name and address</li>
      <li>what they paid for the property – you won’t get this if it was bought before April 2000, if no money changed hands, or if the owner didn’t buy it outright</li>
      <li>if there is a mortgage on the property, the lender's name and  address</li>
      <li>if it's a leasehold property, how long the lease is for</li>
      <li>the rough extent and location of the property</li>
    </ul>
    <div class="panel-indent panel-indent-info">
      <p>You'll be able to view the information on screen. <b>You'll only be able to view it once.</b> If you want to keep a copy, you'll need to print it out or take a screen shot.</p>
    </div>
    <hr>

    <h2 class="heading-medium">You won't get</h2>
    <p>You'll need to <a target="_blank" href="https://www.gov.uk/get-information-about-property-and-land">use a different Land Registry service</a> if you need more detailed information like</p>
    <ul>
      <li>the full legal register entry</li>
      <li>details of access rights, rights of way, and restrictions</li>
      <li>to prove who owns a property, for example in a court case or for a visa application</li>
      <li>the official title plan showing indicative boundaries</li>
      <li>a copy of the deeds</li>
      <li>details of previous owners</li>
    </ul>
  </div>
  <hr>

  <h2 class="heading-medium">Fees</h2>

  <table>
    <thead>
      <tr>
        <th>Document (each copy)</th>
        <th>Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Title Summary</td>
        <td>£1.20</td>
      </tr>
      <tr>
        <td>Title register</td>
        <td>Coming Soon</td>
      </tr>
      <tr>
        <td>Title plan</td>
        <td>Coming Soon</td>
      </tr>
      <tr>
        <td>Flood risk indicator</td>
        <td>Coming Soon</td>
      </tr>
    </tbody>
  </table>

<h2 class="heading-medium">Help</h2>
  <p>Use <a rel="external" href="#">the contact form</a> if you need help using the service.</p>

</div>
</main>

{{/content}}

{{/layout}}
