{{<layout}}

  {{$pageTitle}}Order an official copy - search the land and property register{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">

      <!-- private beta banner -->
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="/drv-18/feedback">feedback</a> will help us to improve it.</span>
        </p>
      </div>
      <!-- -->

      <a href="#" onClick="history.go(-1); return false;" class="back-link expand-top-half" style="display:inline-block">◀ Back</a>

      <div class="grid-row">

        <div class="column-two-thirds">
          <h1 class="heading-large">Order an ‘official copy’ of the register</h1>
          <p> To get copies to use as proof of ownership, eg in a court case or for a visa application, you need to order official copies.</p>
          <p>Download and fill in an <a href="https://www.gov.uk/government/publications/official-copies-of-register-or-plan-registration-oc1">application for official copies of documents</a> and send it to Land Registry with your fee.</p>

          <div class="address"><div class="adr org fn"><p>

          Citizen Centre
          <br>PO Box 6350
          <br>Coventry
          <br>CV3 9LP
          <br>
          </p></div></div>

          <p>Your official copies will arrive in less than a week.</p>

          <h2 class="heading-medium">Fees</h2>

          <table>
            <thead>
              <tr>
                <th>Document</th>
                <th>Fee</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Title register (official copy)</td>
                <td>£7</td>
              </tr>
              <tr>
                <td>Title plan (official copy)</td>
                <td>£7</td>
              </tr>
            </tbody>
          </table>
          <p><br>Read <a href="https://www.gov.uk/get-information-about-property-and-land/search-the-register">guidance on getting information about property and land</a> to find out which documents you need</a>.</p>

        </div>



      </div>

    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="/drv-18/cookies">Cookies</a></li>
      <li><a href="/drv-18/terms">Terms &amp; Conditions</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
