{{<layout}}

  {{$pageTitle}}Cookies - search the land and property register{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This is a new service – your <a href="/drv-19/feedback">feedback</a> will help us to improve it.</span>
        </p>
      </div>

      <a href="#" onClick="history.go(-1); return false;" class="back-link expand-top-half" style="display:inline-block">◀ Back</a>

      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-large">Cookie Policy</h1>

          <p><strong>See production code for cookie policy</strong></p>
 
        </div>
      </div>
    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="/drv-19/cookies">Cookies</a></li>
      <li><a href="/drv-19/terms">Terms &amp; Conditions</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
