{{<layout}}

{{$pageTitle}}
	Digital Register View UX Prototypes
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Digital Register View UX Prototypes</h1>
	<!-- feel free to change this page to suit your needs -->

	<p>These are HTML prototypes, no Flask intergration</p>

	<h2 class="heading-large">Private Beta</h2>
	<p>This is the MVP protoype</p>

	<ul>
		<li>
			<a href="/drv-15/start">v15</a>
			<p class="font-small"><b>Notes:</b><br/>Use "3a Mandela Way" for a normal page, use "4 Mandela Way" for an empty title page. <br/>Includes Welsh translation &amp; Start Page</p>
		</li>
		<li>
			<a href="/drv-14">v14</a>
			<p class="font-small"><b>Notes:</b><br/>Use "3a Mandela Way" only.</p>
		</li>
	</ul>
	<h2 class="heading-large">Public Beta</h2>
	<p>This is the bluesky protoype, showing billing/purchasing and account creation</p>

	<ul>
		<li>
			<!--a href="/drv-14"-->Digital Register View (Coming Soon)<!--/a-->
		</li>
	</ul>

	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
