{{<layout}}

{{$pageTitle}}
	Digital Register View UX Prototypes
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Digital Register View UX Prototypes</h1>
	<!-- feel free to change this page to suit your needs -->

	<p>These are HTML prototypes, derived from the GOVUK toolkit.</p>

	<h2 class="heading-large">Current prototype</h2>

	<ul>
		<li>
			<p><a href="/drv-16/start">Version 16</a> (work in progress) – Prototype of user journey for start of public Beta. Iteration of v15</p>
			<p>See the <a href="https://trello.com/b/sEUeTV6n/drv-prototype-to-do">to do list in Trello</a></p>
			<h3 class="heading-small">2 start pages on Govuk - existing + new start page for 'Find who owns'</h3>
			<ul>
				<li><a href="/drv-16/starts/2-start-who-owns">New - Who owns...</a></li>
				<li><a href="/drv-16/starts/2-start-new-govuk">Existing - 'Find a Property' + try beta?</a></li>
			</ul>
			<h3 class="heading-small">1 Start page on Govuk - 4 options</h3>
			<ul>
				<li><a href="/drv-16/starts/1-start-new-govuk">Start Now = New service + I know (docs)</a></li>
				<li><a href="/drv-16/starts/1-start-new-govuk">Start Now = New service + Not sure (info)</a></li>
				<li><a href="/drv-16/starts/1-start-existing-govuk">Start Now = FaP + I know (docs + try beta?)</a></li>
				<li><a href="/drv-16/starts/1-start-existing-govuk">Start Now = FaP + Not sure (info)</a></li>
			</ul>
		</li>
		<li>
			<p><a href="/drv-15/start">Version 15</a> (stable) – Prototype of user journey for start of public Beta. Iteration of v13 + 14. </p>
			<p>Tested at GDS lab 29th January 2016 (Sprint 27). Prototype to test:</p>
			<ul>
				<li><b class="bold-small">NEW</b> compliance with consumer rights act</li>
				<li><b class="bold-small">NEW</b> start page and service eligibility flow</li>
				<li><b class="bold-small">NEW</b> definitions of tenure and title not found</li>
				<li><b class="bold-small">NEW</b> VAT receipt</li>
				<li>Refined call-to-action page - culled unnecessary copy; new format for 'you'll only be able to view it once' warning</li>
			</ul>
			<p class="font-small">Found online here: <a href="https://drv-ux-prototype.herokuapp.com/drv-15/start">https://drv-ux-prototype.herokuapp.com/drv-15/start</a></p>
		</li>
	</ul>

	<h2 class="heading-medium">Previous prototypes can be found here:</h2>
	<ul>
	<li>
		<a href="http://property-register-prototype.herokuapp.com">property-register-prototype.herokuapp.com</a>
	</li>
	<li>
		<a href="http://drv-prototype-v12.herokuapp.com">drv-prototype-v12.herokuapp.com</a>
	</li>
	<li>
		<a href="http://drv-proto-v13a.herokuapp.com">drv-proto-v13a.herokuapp.com</a>
	</li>
	<li>
		<a href="http://drv-proto-v13b.herokuapp.com">drv-proto-v13b.herokuapp.com</a>
	</li>
	<li>
		<a href="/drv-14">Version 14</a>
		<p class="font-small"><b>Notes:</b><br/>Use "3a Mandela Way" only.</p>
	</li>
</ul>


	<h2 class="heading-large">Public Beta</h2>
	<p>This is the bluesky protoype (Work in Progress), showing billing/purchasing and account creation</p>

	<ul>
		<li>
			<a href="/public_beta/">Digital Register View</a>
		</li>
	</ul>

	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
