{{<layout}}

{{$pageTitle}}
	Digital Register View UX Prototypes
{{/pageTitle}}

{{$content}}

<style type="text/css">
	.changelog {
		max-height: 200px;
		overflow-y: scroll;
		background-color: #eee;
		padding: 15px;
		border: 1px solid #999;
		font-size: 16px;
	}

	.changelog li {
		list-style-type: none;
		clear: left;
		margin-bottom: 10px;
	}

	.changelog li:last-child {
		margin-bottom: 0;
	}

	.changelog p {
		overflow: hidden; /* Hanging indent */
		margin: 0;
		line-height: 1;
	}

	.changelog-annotation {
		font-size: 13px;
		font-weight: bold;
		margin-right: 10px;
		text-transform: uppercase;
		color: #333;
		width: 60px;
		float: left;
	}
</style>

<main id="content" role="main">

	<h1 class="heading-xlarge">Digital Register View UX Prototypes</h1>

	<p>These are HTML prototypes, derived from the GOVUK toolkit.</p>

	<h2 class="heading-large">Current prototype</h2>

	<ul>
		<li>
			<h3 class="heading-medium">Version 16 (work in progress)</h3>
			<h4 class="heading-small">Research feeding into this iteration</h4>
			<p><a href="https://docs.google.com/document/d/163Zfps56PfsH9NB0rvjco6lV99x467ip0jB0slj5L5s/edit#bookmark=id.utqz2rbaatpj">Research history: Sprint 27</a></p>

			<h4 class="heading-small">Changelog</h4>
			<ul class="changelog">
				<li><b class="changelog-annotation">New</b> <p>New eligibility question added - "Do you need to prove ownership?"</p></li>
				<li><b class="changelog-annotation">New</b> <p>Added the map into the summary page</p></li>
				<li><b class="changelog-annotation">New</b> <p>Worldpay flow is now built using HTML lifted directly from the test payment gateway so this can now be properly incorporated in the test scripts</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>New start pages to test different variants (See variants below this list)</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>Remove 'have you used this service before' page and lead with sign-in page instead</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>Removed the various "sorry" pages - users now taken directly to Find a Property when appropriate</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>"What document do you want" changed to radio buttons instead of checkboxes</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>State which service provides which documents on the "What documents do you want page"</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>Tweaked Consumer Rights Act wording and error message if checkbox not ticked</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>Tweaked wording on call to action page</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>Summary/detail expand links such as "What's this?" and "Why not?" changed to be triggered directly from the item, so that directly clicking "> Caution title" now opens the help message</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>Tweaked VAT receipt contents to contain the correct info</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>Map now shows a marker instead of property boundary polygon</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>Remove flood risk product</p></li>
			</ul>
			<h4 class="heading-small">2 start pages on Govuk - existing + new start page for 'Find who owns'</h4>
			<ul>
				<li><a href="/drv-16/starts/2-start-who-owns">New - Who owns...</a></li>
				<li><a href="/drv-16/starts/2-start-new-govuk">Existing - 'Find a Property' + try beta?</a></li>
			</ul>
			<h4 class="heading-small">1 Start page on Govuk - 4 options</h4>
			<ul>
				<li><a href="/drv-16/starts/1-start-new-govuk?destination=eligibility_2a">Start Now = New service > document</a></li>
				<li><a href="/drv-16/starts/1-start-new-govuk?destination=eligibility_2b">Start Now = New service > information</a></li>
				<li><a href="/drv-16/starts/1-start-existing-govuk?destination=eligibility_2a">Start Now = FaP + try beta > document</a></li>
				<li><a href="/drv-16/starts/1-start-existing-govuk?destination=eligibility_2b">Start Now = FaP + try beta > information</a></li>
			</ul>
		</li>
	</ul>

	<h2 class="heading-medium">Previous prototypes can be found here:</h2>
	<ul>
		<li>
			<p><a href="/drv-15/start">Version 15</a> (stable) – Prototype of user journey for start of public Beta. Iteration of v13 + 14. </p>
			<p>Tested at GDS lab 29th January 2016 (Sprint 27). Prototype to test:</p>
			<h4 class="heading-small">Changelog</h4>
			<ul class="changelog">
				<li><b class="changelog-annotation">New</b> <p>compliance with consumer rights act</p></li>
				<li><b class="changelog-annotation">New</b> <p>start page and service eligibility flow</p></li>
				<li><b class="changelog-annotation">New</b> <p>definitions of tenure and title not found</p></li>
				<li><b class="changelog-annotation">New</b> <p>VAT receipt</p></li>
				<li><b class="changelog-annotation">Refined</b> <p>call-to-action page - culled unnecessary copy; new format for 'you'll only be able to view it once' warning</p></li>
			</ul>
			<p class="font-small">Found online here: <a href="https://drv-ux-prototype.herokuapp.com/drv-15/start">https://drv-ux-prototype.herokuapp.com/drv-15/start</a></p>
		</li>
		<li>
			<a href="/drv-14">Version 14</a>
			<p class="font-small"><b>Notes:</b><br/>Use "3a Mandela Way" only.</p>
		</li>
		<li>
			<a href="http://drv-proto-v13b.herokuapp.com">drv-proto-v13b.herokuapp.com</a>
		</li>
		<li>
		<li>
			<a href="http://drv-proto-v13a.herokuapp.com">drv-proto-v13a.herokuapp.com</a>
		<li>
			<a href="http://drv-prototype-v12.herokuapp.com">drv-prototype-v12.herokuapp.com</a>
		</li>
		</li>
			<a href="http://property-register-prototype.herokuapp.com">property-register-prototype.herokuapp.com</a>
		</li>
	</ul>


	<h2 class="heading-large">Public Beta</h2>
	<p>This is the bluesky protoype (Work in Progress), showing billing/purchasing and account creation</p>

	<ul>
		<li>
			<a href="/public_beta/">Digital Register View</a>
		</li>
	</ul>

	<h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul>

</main>

{{/content}}

{{/layout}}
