{{<layout}}

  {{$pageTitle}}Terms and Conditions - search the land and property register{{/pageTitle}}

  {{$content}}

    <main id="content" role="main">
      <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
          <span>This service is in private beta. Please give us your <a rel="external" href="/drv-17/feedback">Feedback</a>.</span>
        </p>
      </div>

      <a href="#" onClick="history.go(-1); return false;" class="back-link expand-top-half" style="display:inline-block">◀ Back</a>

      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-large">Terms and Conditions</h1>

          <p>Contact details here</p>

          <p><strong>LAND REGISTRY REGISTER VIEW SERVICE</strong></p>
          <p><strong>What is the Register View Service? </strong></p>
          <p>If you&rsquo;re buying or selling a house or are just interested in a property the Land Registry Register View service is an on-line service that will enable you to see a summary of a title.&nbsp;</p>
          <p>The summary is a cut down version of the information Land Registry holds about a property.&nbsp; It tells you the owners name and address; what they paid for the property if they purchased after April 2000 (you will not get the price paid for the property if they purchased before April 2000, or no money changed hands or the owner did not buy the property outright); if there is a mortgage on the property the Lender&rsquo;s name and address; if it is a leasehold property how long the lease is for and the rough extent and location of the property.</p>
          <p>You will be able to view the information on screen.&nbsp; You&rsquo;ll only be able to view it once you&rsquo;ll need to print it out or take a screen shot.</p>
          <p>The summary of the register you will see will be a summary of the register at the time and date of your transaction.&nbsp; The Land Registry system is a live system that is updated as applications are submitted to Land Registry are processed so the information on a register summary is subject to change.</p>
          <p><strong>When not to use the Register View Service </strong></p>
          <p>If more detailed information is required such as the full legal register entry; details of access rights, rights of way and restrictions; documents to prove who owns a property for example in a court case or for a visa application; the official title plan showing indicative boundaries; a copy of the deeds or details of previous owners then you will need to use a different service for this detailed information.</p>
          <p><strong>LEGAL AGREEMENT FOR REGISTER VIEW SERVICE</strong></p>
          <p>The legal agreements set out below are between you and Land Registry and govern your use of the Register View Service.&nbsp; To agree these terms click &lsquo;Agree&rsquo;.&nbsp; If you do not agree these terms do not click &lsquo;Agree&rsquo; and do not use the Register View Services.</p>
          <p><strong>OUR TERMS&nbsp;&nbsp;&nbsp; </strong>Your access to and use of the Register View service will be subject to the following terms.</p>
          <ol>
          <li><strong> These terms</strong></li>
          </ol>
          <p>Please read and accept the terms and conditions.&nbsp; To agree these terms click &lsquo;Agree&rsquo;.&nbsp; If you do not agree these terms do not click &lsquo;Agree&rsquo; and do not use the Register View Services.</p>
          <p><strong>What these terms cover.</strong>&nbsp; There are the terms and conditions on which we supply the Register View service to you.</p>
          <p><strong>Why you should read them. </strong>Please read these terms carefully before you submit your order to us.&nbsp; These terms tell you who we are, how we will provide products to you, how you and we may change or end the contract, what to do if there is a problem and other important information.&nbsp; If you think that there is a mistake in these terms [or require any changes] please contact us to discuss.</p>
          <p>&nbsp;</p>
          <ol start="2">
          <li><strong> Use and Access</strong></li>
          </ol>
          <p>&nbsp;</p>
          <p>The Register View Service is for use by citizens for domestic and private use.&nbsp;</p>
          <p>&nbsp;</p>
          <p>Access is via the internet or any other electronic means of access or communication as we may reasonably require from time to time.</p>
          <p>&nbsp;</p>
          <p>A printer will be required if you wish to print out a copy of the summary.</p>
          <p>&nbsp;</p>
          <p><strong>What IT hardware and software do I require to access the service?</strong></p>
          <p>[we need to explain the functionality, including applicable technical protection measures of digital content.</p>
          <p>Also any relevant compatibility of digital content with hardware and software that we are aware of or can reasonably be expected to have been aware of]</p>
          <p><em>Consider stating that the digital content will comply with the &ldquo;latest [and previous] version of an operating system.</em></p>
          <p><em>Consider describing functionality in technology neutral ways, to ensure that underlying changes to how digital content works can be made without the need to seek consent, for example, the software will feature a spellchecker, rather than a spellchecker of a particular specification.</em></p>
          <p><em>Consider whether you need to remove unused features</em></p>
          <p>The technical means for identifying and correcting input errors prior to the placing of the order these must be appropriate effective and accessible technical means.</p>
          <p>&nbsp;</p>
          <ol start="3">
          <li><strong> User Registration</strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p><strong>HOW TO REGISTER</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>If you are already a customer of our Find a Property service and have a Property Search User account with us you will be able to access the Register View service by using your username and password for Find a Property.</p>
          <p>&nbsp;</p>
          <p>If you are not already a customer of our Find a Property service, to register for the Register View service you must register via our &lsquo;Find a Property&rsquo; website through the &lsquo;Find a Property&rsquo; login.&nbsp; You will be asked to provide a username and password which will be your security credentials.&nbsp; You will be notified by the Land Registry system once a Property Search User account has been created.</p>
          <p>&nbsp;</p>
          <p>You will need to activate your Property Search User Account before purchasing any of the services.</p>
          <p>&nbsp;</p>
          <p>Once activated your Property Search User Account can be used to access both the Find a Property service and Register View Service.</p>
          <p>&nbsp;</p>
          <p>You are solely responsible for maintaining the confidentiality and security of your Property Search User Account and for all activities that occur on or through your account and you agree to immediately notify Land Registry of any security breach of your account.&nbsp; Land Registry shall not be responsible for any losses arising out of the unauthorised use of your account.</p>
          <p>&nbsp;</p>
          <p><strong>HOW TO MAKE CHANGES TO YOUR REGISTRATION</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>If you need to change any of your registration details you must request cancellation of your existing Property Search Account by contacting our customer team service with your username details.</p>
          <p>&nbsp;</p>
          <p>You will then need to re-register for the services using a new username and password when a new Property Search User Account will be created.</p>
          <p>&nbsp;</p>
          <p>Once you activate your new account your existing Property Search User Account will be cancelled.</p>
          <p>&nbsp;</p>
          <p><strong>AUTOMATIC CANCELLATION OF YOUR PROPERTY SEARCH USER ACCOUNT</strong></p>
          <p>&nbsp;</p>
          <p>Your Property Search User Account will be automatically cancelled without any notice being given to you if you do not use if for a period of six months or more from the date you last used it.</p>
          <p>&nbsp;</p>
          <p>If your Property Search User Account is cancelled automatically you will need to re-register for the service using a different username to any username previously used by you.</p>
          <p>&nbsp;</p>
          <ol start="4">
          <li><strong> YOUR USE OF THE REGISTER VIEW SERVICE</strong></li>
          </ol>
          <p>&nbsp;</p>
          <p>You agree that when using the Register View service that you will not use the Land Registry system for any of the purposes set out below.&nbsp; You acknowledge that Land Registry may monitor your use of the service to verify that you are not accessing and using the data and information as follows:</p>
          <p>&nbsp;</p>
          <p>In any way that causes the system or access to it to be interrupted damaged or impaired.</p>
          <p>&nbsp;</p>
          <p>To use or attempt to use any automated software agents (including any screen scraper, spider or other web crawler) to access Land Registry&rsquo;s system or to search, copy or, monitor, display or obtain links to any other part of the Land Registry system.</p>
          <p>&nbsp;</p>
          <p>To copy or display the data and information for display on any other website.</p>
          <p>&nbsp;</p>
          <p>To attempt to rectify or permit any person (not authorised by Land Registry) to rectify any fault or inaccuracy in the information, data, system, or database or tamper with the information, data, system services or database.</p>
          <p>&nbsp;</p>
          <p>To allow any unauthorised person to have access to the system and/or use the services via your equipment.</p>
          <p>&nbsp;</p>
          <p>To allow simultaneous access to the system using the same login or username and/or password and/or transfer or share your username or password.</p>
          <p>&nbsp;</p>
          <p>To tamper with or make or attempt to make any deletions, additions, notifications, adjustments or alterations to any of the data, information, the system or the database.</p>
          <p>&nbsp;</p>
          <p>Access or retrieve any part of the database, which is not part of the information and data supplied as part of the Register View service.</p>
          <p>&nbsp;</p>
          <p>Use the data and information to represent to the public that you have an arrangement or official partnership with Land Registry in relation to either the use of the data and/or information or the supply of it.</p>
          <p>&nbsp;</p>
          <p>Use the data for any fraudulent or other unlawful activity.&nbsp;</p>
          <p>&nbsp;</p>
          <p>We reserve the right to cancel your Property Search User Account at any time without notice if we have reason to suspect use for these purposes or if Land Registry suspects that you have failed to comply with any of the provisions of this agreement.&nbsp;</p>
          <p>&nbsp;</p>
          <p>You will remain liable for all amounts due under your account up to and including the date of termination.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <ol start="5">
          <li><strong> WHEN WILL THE SERVICE BE AVAILABLE</strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p>The service will normally be available every day.</p>
          <p>&nbsp;</p>
          <p>On a day when the service is available it will normally be available for an aggregate period of at least 20 hours unless the system otherwise informs you.</p>
          <p>&nbsp;</p>
          <ol start="6">
          <li><strong> INFORMATION ABOUT US AND HOW TO CONTACT US</strong></li>
          </ol>
          <p>&nbsp;</p>
          <p><strong>WHO WE ARE </strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>Land Registry is a non-ministerial department.&nbsp; We register the ownership of land and property in England and Wales.&nbsp; Our Head Office address is [&nbsp;&nbsp; ].</p>
          <p>&nbsp;</p>
          <p><strong>HOW YOU CAN CONTACT US. </strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>You can contact us by telephoning our customer service team at 0300 006 0411 or by contacting us by completing our online contact form.</p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>HOW WE MAY CONTACT YOU?&nbsp; </strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>If we have to contact you we will do so by telephone or by writing to you at the email address or postal address you provided to us with your registration details.</p>
          <p>&nbsp;</p>
          <p><strong>&ldquo;WRITING&rdquo; INCLUDES EMAILS.</strong>&nbsp;</p>
          <p>&nbsp;</p>
          <p>When we use the words &ldquo;writing&rdquo; or &ldquo;written&rdquo; in these terms, this includes emails.</p>
          <p>&nbsp;</p>
          <ol start="7">
          <li><strong> OUR CONTACT WITH YOU </strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p><strong>ELECTRONIC CONTRACTING</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>Your use of the Register View Services includes the ability to enter into agreements and/or to make transactions electronically.&nbsp; You acknowledge that your electronic submission constitutes your agreement and intent to be bound by and agree to pay for such agreements and transactions.&nbsp;</p>
          <p>&nbsp;</p>
          <p>Your agreement and intent to be bound by electronic submissions applies to all transactions you enter into on this site including notices of cancellation, policies, contracts and applications.</p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>YOUR REQUEST TO VIEW A REGISTER</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>The system enables you to undertake a property search using a post code, street name or title number.&nbsp; You will need to select the correct property address for your Register View.</p>
          <p><strong>&nbsp;</strong></p>
          <p>When you have identified the correct property for the register you wish to view you will need to use the system to:</p>
          <p>&nbsp;</p>
          <p><strong>ORDER YOUR REGISTER VIEW</strong></p>
          <p>&nbsp;</p>
          <p>Order your Register View by making a request for immediate provision of the Register View service indicating the correct address.</p>
          <p>&nbsp;</p>
          <p><strong>EXCEPTION TO THE RIGHT OF CANCELLATION</strong></p>
          <p>&nbsp;</p>
          <p>You agree to lose your right to cancel by giving and acknowledging the following statement:</p>
          <p>&nbsp;</p>
          <p><em>&ldquo;I agree to your providing the Register View requested available to me immediately and agree that I will lose my right to cancel the contract once the Register View has begun.&rdquo;&nbsp; </em></p>
          <p><em>&nbsp;</em></p>
          <p><strong>PAY</strong></p>
          <p>&nbsp;</p>
          <p>Pay the fee for the service.</p>
          <p>&nbsp;</p>
          <ol start="8">
          <li><strong> HOW WILL WE ACCEPT YOUR ORDER? </strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p>Our acceptance of your order for an immediate register view will take place when we accept your request to buy the title summary and you agree and acknowledge that you will lose your right to cancel, at which point a contract will come into existence between you and us.</p>
          <p>&nbsp;</p>
          <ol start="9">
          <li><strong> HOW TO END YOUR CONTRACT WITH US </strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p>You will have a right to end your contract with us at any time prior to your indicating you wish to proceed to make payment to view your chosen register.</p>
          <p>&nbsp;</p>
          <ol>
          <li><strong> PRICE AND PAYMENT</strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p><strong>WHERE TO FIND THE PRICE FOR A REGISTER VIEW</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>The price for a Register View will be the fees due under the current Land Registry Fee Order and charges due under section 105 of the Land Registration Act 2002 and shown on the Register View service at the time you carry out your transaction.&nbsp;</p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>WHEN AND HOW YOU MUST PAY </strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>You must pay for the Register View before you access the system to view your chosen Register.</p>
          <p>&nbsp;</p>
          <p>All services must be paid for in advance and by credit/debit card.</p>
          <p>&nbsp;&nbsp;</p>
          <p>When you pay for the services it will be via RBS Worldpay or our successor specialist electronic payment processor.</p>
          <p>&nbsp;</p>
          <p>You will receive a Transaction ID from the payment processor confirming your purchase.</p>
          <p>&nbsp;</p>
          <p>Your attention is drawn to the privacy policy [provide a link] of RBS Worldpay or successor specialist electronic payment processor for the service as Land Registry is not directly responsible for the information practices of the processor or third party service providers.</p>
          <p>&nbsp;</p>
          <ol>
          <li><strong> WHEN WILL WE PROVIDE THE REGISTER VIEW</strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p>We will make the chosen Register View available for you to view and save a screen shot and/or print as soon as payment has been made.</p>
          <p>You will only be able to view it once so you will need to print it out or take a screen shot immediately.</p>
          <p>&nbsp;</p>
          <ol start="2">
          <li><strong> IF WE CANNOT ACCEPT YOUR ORDER </strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p>If we are unable you accept your order we will notify you and provide you with written reasons why we cannot accept your order.&nbsp; The Worldpay transaction will be automatically cancelled.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <ol start="3">
          <li><strong> UPDATES TO DIGITAL CONTENT</strong></li>
          </ol>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>We may update digital content provided that the digital content shall always match the description of it that we provided to you before you bought it.</p>
          <p>The summary of the register you will see will be a summary of the register at the time and date of your transaction.&nbsp;</p>
          <p>The Land Registry system is a live system that is updated as applications are submitted to Land Registry are processed so the information on a register summary is subject to change.</p>
          <p><strong>&nbsp;</strong></p>
          <ol start="4">
          <li><strong> DELAYS AND MATTERS OUTSIDE OF OUR CONTROL</strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p>Transmission of data and information over the internet may be subject to delays beyond our control, which may delay the provision of our services or the completion of your order. As the system is internet based there may be periods of delay or shutdowns in the services beyond our control. You acknowledge that neither any information service provider, third party nor we shall be liable to you or any third party for any losses arising from such a delay.</p>
          <p>Some of the related services are outside of our control because they are provided by a third party. In these cases we do not take responsibility for these services, their content, or for any delays, interruptions or errors in their provision. We are not responsible for the content or reliability of any linked web sites. Nor do we necessarily endorse the views expressed in them. We cannot guarantee that these links will work all of the time and we have no control over the availability of the linked pages.</p>
          <ol start="5">
          <li><strong> LAND REGISTRY&rsquo;S RIGHT TO REQUIRE YOU TO DISCONNECT FROM THE SERVICE</strong></li>
          </ol>
          <p>&nbsp;</p>
          <p>You Agree that we may at any time require you to disconnect your equipment or software or any part or parts from accessing the system if in our reasonable opinion it has been the cause or a contributory factor or likely to cause failures, interruptions, errors or defects in the system or to corrupt the system or software or any other software which may be used by or in the system or any information on the database.</p>
          <p>&nbsp;</p>
          <ol start="6">
          <li><strong> CHANGES</strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p>Land Registry reserves the right at any time to modify this Agreement and to impose new or additional terms and conditions on your use of the Service.&nbsp; Such modifications and additional terms and conditions will be communicated to you and if you, and if accepted, will be effective immediately and will be incorporated into this Agreement.&nbsp; In the event that you refuse to accept such changes Land Registry will have the right to terminate this agreement.</p>
          <p>&nbsp;</p>
          <ol start="7">
          <li><strong>ENDING THE CONTRACT WHEN WE ARE NOT AT FAULT AND THERE IS NO RIGHT TO CHANGE YOUR MIND</strong></li>
          </ol>
          <p><strong>&nbsp;</strong></p>
          <p>Even if we are not at fault and you do not have a right to change your mind you can still end the contact before it is complete but you may have to pay us compensation.&nbsp; A contract for goods or digital content is completed when the product is delivered, downloaded or streamed and paid for.</p>
          <p>&nbsp;</p>
          <ol start="8">
          <li><strong> IF THERE IS A PROBLEM WITH THE REGISTER VIEW</strong></li>
          </ol>
          <p>If you have any questions or complaints about the Register View please contact us.&nbsp; You can telephone our customer service team at 0300 006 0411 or write to us using our online Contact Form.</p>
          <ol start="9">
          <li><strong> OUR INDEPENDENT COMPLAINTS REVIEWER</strong></li>
          </ol>
          <p>If your complaint has been through our internal complaints procedure which you can access via the following link [provide a link to internal complaints procedure] and you are still not satisfied you can contact the Independents Complaints Reviewer (ICR) for Land Registry.&nbsp; The ICR&rsquo;s role is to review complaints independently from Land Registry.&nbsp; [provide ICR details]</p>
          <ol>
          <li><strong> SUMMARY OF YOUR LEGAL RIGHTS</strong></li>
          </ol>
          <p>&nbsp;</p>
          <p>We are under a legal duty to supply products that are in conformity with this contract.&nbsp; See below for a summary of your key legal rights in relation to the product.&nbsp; Nothing in these terms will affect your legal rights.</p>
          <p>&nbsp;</p>
          <p><strong>SUMMARY OF YOUR KEY LEGAL RIGHTS</strong></p>
          <p>&nbsp;</p>
          <p>This is a summary of your key legal rights.&nbsp; These are subject to certain exceptions.&nbsp; For detailed information please visit the Citizens Advice website <a href="http://www.adviceguide.org.uk">www.adviceguide.org.uk</a> or call 03454 04 05 06.</p>
          <p>&nbsp;</p>
          <p>For a product that is digital content the Consumer Rights Act 2015 says digital content must be as described, fit for purpose and of satisfactory quality:</p>
          <p>&nbsp;</p>
          <ul>
          <li>If your digital content is faulty, you are entitled to a repair or a replacement.</li>
          <li>If the fault cannot be fixed within a reasonable time, or without causing you significant inconvenience, you can get some or all of your money back.</li>
          </ul>
          <p>&nbsp;</p>
          <ul>
          <li>If you can show the fault has damaged your device and we have not used reasonable care and skill, you may be entitled to a repair or compensation.</li>
          </ul>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p><strong>WHEN ARE WE RESPONSIBLE FOR DAMAGE TO A DEVICE OR DIGITAL CONTENT</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>If defective digital content which we have supplied damages a device or digital content belonging to you and this is caused by our failure to use reasonable care and skill we will either repair the damage or pay you compensation.&nbsp; [However we will not be liable for damage which you could have avoided by following our advice to apply an update offered to you free of charge or for damage which was caused by you failing to correctly follow installation instructions or to have in place the minimum system requirements advised by us]</p>
          <p>&nbsp;</p>
          <p><em>Wording in square brackets should only be included if relevant to the particular circumstances of the digital content in question &ndash; need to consider what could go wrong in terms of damage to other content/device, what the consumer could do to prevent that happening and whether it would be fair to expect the consumer to take on those responsibilities.</em></p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>Add Rules applying to updates to digital content see notes on page 32/36</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>WE ARE NOT LIABLE FOR BUSINESS LOSSES</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>We only supply the products for domestic and private use.&nbsp; If you use the products for any commercial business or re-sale purpose we will have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.</p>
          <p>&nbsp;</p>
          <p><strong>HOW MAY WE USE YOUR PERSONAL INFORMATION</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>We will use the personal information you provide to us:</p>
          <p>&nbsp;</p>
          <p>(a) to supply the products to you</p>
          <p>&nbsp;</p>
          <p>(b) to process your payment for the products, and</p>
          <p>&nbsp;</p>
          <p>(c) if you agreed to this during the order process, to inform you about similar products that we provide, but you may stop receiving these at any time by contacting us.</p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>For above clause ( c) we would need to provide for consumer to consent to be contacted about similar products</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>THIRD PARTIES</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>We will only give your personal information to other third parties where the law either requires or allows us to do so.</p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>NOBODY ELSE HAD ANY RIGHTS UNDER THIS CONTRACT&nbsp; </strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>This contract is between you and us.&nbsp; No other person shall have any rights to enforce any of its terms.</p>
          <p>&nbsp;</p>
          <p><strong>IF A COURT FINDS PART OF THIS CONTRACT ILLEGAL THE REST WILL CONTINUE IN FORCE </strong></p>
          <p><strong>&nbsp;</strong></p>
          <p>Each of the paragraphs of these Terms operates separately.&nbsp; If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.</p>
          <p>&nbsp;</p>
          <p><strong>WHICH LAWS APPLY TO THIS CONTRACT AND WHERE YOU MAY BRING LEGAL PROCEEDINGS</strong></p>
          <p>&nbsp;</p>
          <p>These terms are governed by English law and you can bring legal proceedings in respect of the products in the English courts.&nbsp; If you live in Scotland you can bring legal proceedings in respect of the products in either the Scottish or the English courts.&nbsp; If you live in Northern Ireland you can bring legal proceedings in respect of the products in either the Northern Irish or the English courts.</p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>How and when will I be able to view the register of my choice?</strong></p>
          <p>The steps will be as follows:</p>
          <ul>
          <li>Once you have identified the register you wish to view using our online search facilities you will be able to request immediate provision of the service and choose to proceed to buy a view of that register.</li>
          <li>Before you view the register, we will require you to accept the following statement:</li>
          </ul>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &ldquo;I agree to your providing [Digital content] to me immediately and agree &nbsp;&nbsp;&nbsp;&nbsp; that I will l lose my right to cancel the contract once the [download, streaming, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; register view] has begun.&rdquo;</p>
          <ul>
          <li>We will acknowledge your order to view the register chosen by you by email.</li>
          <li>You will then be asked to pay for the service.</li>
          <li>You will pay all Fees and Charges for the services used by you.</li>
          <li>All services must be paid for in advance and by credit/debit card.</li>
          <li>When you pay for the services it will be via RBS Worldpay or Land Registry's successor specialist electronic payment processor.</li>
          <li>You will receive a Transaction ID from the payment processor confirming your purchase.</li>
          <li>Once payment has been made access will be provided for you to [view your chosen register online and print a copy of it.]</li>
          <li>[are there any other steps?]</li>
          </ul>
          <p><strong>Will I be able to change my mind?</strong></p>
          <p>No.&nbsp; The register view service is a contract that will be performed immediately once you have selected your chosen register to view, ticked to acknowledge you will lose your right to cancel, proceeded to pay for your order and the register has been made available for you to view. By agreeing to the statement set out above you will not be able to change your mind.</p>
          <p><strong>&nbsp;</strong></p>
          <p><strong>&nbsp;</strong></p>

        </div>
      </div>
    </main>

  {{/content}}

  {{$footerSupportLinks}}
    <ul>
      <li><a href="/drv-17/terms">Terms &amp; Conditions</a></li>
      <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>
      
    </ul>
  {{/footerSupportLinks}}

{{/layout}}
